{% extends "plantillaModulos.html" %}
{% load static %}
{% block body %}
<head>
    <link rel="stylesheet" href="{% static 'css/estilosAprender.css' %}">
</head>
<br>

<div class="text-center mb-4">
    <div class="fondo_titulo">
        <h1 class="titulo-aprender">🎓 ¡Yachaychik puchu | Aprendamos hoy!</h1>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <!-- Animales -->
        <div class="col-md-4 mb-4">
            <a href="{% url 'ver_animales' %}" style="text-decoration: none;">
                <div class="menu-card">
                    <img src="{% static 'imagenes/animales.gif' %}" alt="Animales" class="menu-img">
                    <div class="menu-title">🐾 Animales | WIWAKUNA</div>
                </div>
            </a>
        </div>

        <!-- Meses -->
        <div class="col-md-4 mb-4">
            <a href="{% url 'ver_meses' %}" style="text-decoration: none;">
                <div class="menu-card">
                    <img src="{% static 'imagenes/meses.gif' %}" alt="Meses" class="menu-img">
                    <div class="menu-title">📅 Meses | KILLA</div>
                </div>
            </a>
        </div>

        <!-- Números -->
        <div class="col-md-4 mb-4">
            <a href="{% url 'ver_numeros' %}" style="text-decoration: none;">
                <div class="menu-card">
                    <img src="{% static 'imagenes/numeros.gif' %}" alt="Números" class="menu-img">
                    <div class="menu-title">🔢 Números | YUPAYKUNA</div>
                </div>
            </a>
        </div>

        <!-- Objetos -->
        <div class="col-md-4 mb-4">
            <a href="{% url 'ver_objetos' %}" style="text-decoration: none;">
                <div class="menu-card">
                    <img src="{% static 'imagenes/objetos.gif' %}" alt="Objetos" class="menu-img">
                    <div class="menu-title">📦  Objetos | QIRU-KUNA</div>
                </div>
            </a>
        </div>

        <!-- Dias de a Semana -->
        <div class="col-md-4 mb-4">
            <a href="{% url 'ver_dias' %}" style="text-decoration: none;">
                <div class="menu-card">
                    <img src="{% static 'imagenes/semanas.jpg' %}" alt="Dias de la Semana" class="menu-img">
                    <div class="menu-title">📅 HUNKAYPA PUNCHAKUNA</div>
                </div>
            </a>
        </div>

        <!-- Los Saludos -->
        <div class="col-md-4 mb-4">
            <a href="{% url 'ver_saludos' %}" style="text-decoration: none;">
                <div class="menu-card">
                    <img src="{% static 'imagenes/saludos.gif' %}" alt="Dias de la Semana" class="menu-img">
                    <div class="menu-title">👋 NAPAYKUNA | Saludos </div>
                </div>
            </a>
        </div>

        <!-- Colores -->
        <div class="col-md-4 mb-4">
            <a href="{% url 'ver_colores' %}" style="text-decoration: none;">
                <div class="menu-card">
                    <img src="{% static 'imagenes/colores.gif' %}" alt="Dias de la Semana" class="menu-img">
                    <div class="menu-title">🎨 TULLPUKUNA | Colores </div>
                </div>
            </a>
        </div>

        <!-- Cuerpo humano -->
        <div class="col-md-4 mb-4">
            <a href="{% url 'ver_cuerpo_humano' %}" style="text-decoration: none;">
                <div class="menu-card">
                    <img src="{% static 'imagenes/cuerpo_humano.png' %}" alt="Dias de la Semana" class="menu-img">
                    <div class="menu-title">👁️ RUNAPA UKKU  </div>
                </div>
            </a>
        </div>

        <!-- Parentesco -->
        <div class="col-md-4 mb-4">
            <a href="{% url 'ver_parentesco' %}" style="text-decoration: none;">
                <div class="menu-card">
                    <img src="{% static 'imagenes/parentesco.jpeg' %}" alt="Dias de la Semana" class="menu-img">
                    <div class="menu-title">👨‍👩‍👧‍👦 AYLLU SHUTIKUNA  </div>
                </div>
            </a>
        </div>

         <!-- Elemento Naturaleza -->
        <div class="col-md-4 mb-4">
            <a href="{% url 'ver_elemento_naturaleza' %}" style="text-decoration: none;">
                <div class="menu-card">
                    <img src="{% static 'imagenes/elementos_naturaleza.jpg' %}" alt="Dias de la Semana" class="menu-img">
                    <div class="menu-title">🌳 PACHAMAMAPA NIPAKUNA  </div>
                </div>
            </a>
        </div>

    </div>
</div>

<br>
{% endblock %}
