{% extends "plantillaProgreso.html" %}
{% load static %}
{% block body %}
<head>
    <link rel="stylesheet" href="{% static 'css/trenAprender.css' %}">
</head>

<div class="contenido-principal">

    <!-- ✅ Bienvenida del estudiante -->
    <div class="titulo-bienvenida">
        🎓 ¡Bienvenido/a estudiante {{ nombre_completo|title }}!
    </div>

    <!-- PÁJAROS DECORATIVOS -->
    <div class="contenedor-pajaros">
        <img src="{% static 'imagenes/pajaro.gif' %}" class="pajaro izquierda" alt="Pájaro Izquierdo">
        <img src="{% static 'imagenes/pajaro.gif' %}" class="pajaro derecha" alt="Pájaro Derecho">
         <img src="{% static 'imagenes/avion1.gif' %}" alt="Avión" class="elemento-cielo avion">
    </div>


    <!-- ✅ Contenedor general del tren -->
    <div class="contenedor-tren-animado">

        <!-- Árbol izquierdo fijo -->
        <img class="decoracion-arbol izquierdo" src="{% static 'imagenes/arbol.gif' %}" alt="Árbol izquierdo">

        <!-- Árbol derecho fijo -->
        <img class="decoracion-arbol derecho" src="{% static 'imagenes/arbol.gif' %}" alt="Árbol derecho">

        <!-- 🚂 Tren animado -->
        <div class="contenedor-tren">

            <!-- LOCOMOTORA -->
            <div class=" vagon_tren">
                <img src="{% static 'imagenes/tren.gif' %}" alt="Locomotora" style="height: 190px; width: 250px; border-color: blue;">
            </div>

            <!-- VAGONES -->
            <div class="vagon" style="border-color: rgb(233, 26, 26);">
                <a href="{% url 'ver_animales' %}">
                    <img src="{% static 'imagenes/animales.gif' %}" alt="Animales">
                    <div class="titulo-vagon">🐾 Animales<br><small>Wiwakuna</small></div>
                </a>
            </div>

             <!-- VAGONES -->
            <div class="vagon"  style="border-color: rgb(18, 170, 39);">
                <a href="{% url 'ver_animales' %}">
                    <img src="{% static 'imagenes/animales.gif' %}" alt="Animales">
                    <div class="titulo-vagon">🐾 Animales<br><small>Wiwakuna</small></div>
                </a>
            </div>

             <!-- VAGONES -->
            <div class="vagon" style="border-color: rgb(10, 69, 177);">
                <a href="{% url 'ver_animales' %}">
                    <img src="{% static 'imagenes/animales.gif' %}" alt="Animales">
                    <div class="titulo-vagon">🐾 Animales<br><small>Wiwakuna</small></div>
                </a>
            </div>

             <!-- VAGONES -->
            <div class="vagon" style="border-color: rgb(255, 40, 208);">
                <a href="{% url 'ver_animales' %}">
                    <img src="{% static 'imagenes/animales.gif' %}" alt="Animales">
                    <div class="titulo-vagon">🐾 Animales<br><small>Wiwakuna</small></div>
                </a>
            </div>

             <!-- VAGONES -->
            <div class="vagon" style="border-color: rgb(255, 240, 29);">
                <a href="{% url 'ver_animales' %}">
                    <img src="{% static 'imagenes/animales.gif' %}" alt="Animales">
                    <div class="titulo-vagon">🐾 Animales<br><small>Wiwakuna</small></div>
                </a>
            </div>

             <!-- VAGONES -->
            <div class="vagon" style="border-color: rgb(47, 205, 253);">
                <a href="{% url 'ver_animales' %}">
                    <img src="{% static 'imagenes/animales.gif' %}" alt="Animales">
                    <div class="titulo-vagon">🐾 Animales<br><small>Wiwakuna</small></div>
                </a>
            </div>

             <!-- VAGONES -->
            <div class="vagon" style="border-color: rgb(217, 28, 255);">
                <a href="{% url 'ver_animales' %}">
                    <img src="{% static 'imagenes/animales.gif' %}" alt="Animales">
                    <div class="titulo-vagon">🐾 Animales<br><small>Wiwakuna</small></div>
                </a>
            </div>

             <!-- VAGONES -->
            <div class="vagon" style="border-color: rgb(241, 133, 31);">
                <a href="{% url 'ver_animales' %}">
                    <img src="{% static 'imagenes/animales.gif' %}" alt="Animales">
                    <div class="titulo-vagon">🐾 Animales<br><small>Wiwakuna</small></div>
                </a>
            </div>

             <!-- VAGONES -->
            <div class="vagon" style="border-color: rgb(146, 102, 5);">
                <a href="{% url 'ver_animales' %}">
                    <img src="{% static 'imagenes/animales.gif' %}" alt="Animales">
                    <div class="titulo-vagon">🐾 Animales<br><small>Wiwakuna</small></div>
                </a>
            </div>

             <!-- VAGONES -->
            <div class="vagon">
                <a href="{% url 'ver_animales' %}">
                    <img src="{% static 'imagenes/animales.gif' %}" alt="Animales">
                    <div class="titulo-vagon">🐾 Animales<br><small>Wiwakuna</small></div>
                </a>
            </div>

        </div>

        <!-- RIEL debajo del tren -->
        <div class="riel">
            <img src="{% static 'imagenes/riel.png' %}" alt="Riel">
        </div>

    </div>
</div>
<br>
{% endblock %}
