{% extends "plantillaModulos.html" %}
{% load static %}
{% block body %}
<head>
    <link rel="stylesheet" href="{% static 'css/estilosAprender.css' %}">
</head>

<br>

<div class="text-center mb-4">
    <div class="fondo_titulo">
        <h1 class="titulo-kichwa">🔢 ¡Aprende los NÚMEROS en Kichwa! 🔢</h1>
    </div>
</div>
<div class="text-center">
    <a href="{% url 'aprender' %}" class="btn-volver">VOLVER</a>
</div>

<br>

<div class="container">
    <div class="row">
        {% for num in numeros %}
        <div class="col-md-4 mb-4">
            <div class="card text-center card-mes">
                <div class="card-body">
                    <h5 class="card-title">📖 {{ num.palabra_num }}</h5>

                    {% if num.imagen_num %}
                    <div class="mb-3">
                        <img src="{{ num.imagen_num.url }}" alt="{{ num.palabra_num }}" class="img-fluid" style="max-height: 120px; border-radius: 15px;">
                    </div>
                    {% else %}
                    <p>📷 No hay imagen disponible.</p>
                    {% endif %}

                    {% if num.audio_kichwa_num %}
                    <div>
                        <button class="btn-audio mb-2" onclick="document.getElementById('audio_{{ forloop.counter }}').play()">
                            🔊 Escuchar
                        </button>
                        <audio id="audio_{{ forloop.counter }}">
                            <source src="{{ num.audio_kichwa_num.url }}" type="audio/mpeg">
                            Tu navegador no soporta audio.
                        </audio>
                    </div>
                    {% else %}
                    <p>🔇 No hay audio disponible.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div style="width: 70%; margin-left: 170px;">
    <hr style="height: 3px; background-color: #000; border: none;">
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 mb-4">
            <a href="{% url 'jugar_numeros' %}" style="text-decoration: none;">
                <div class="menu-card">
                    <img src="{% static 'imagenes/jugar.gif' %}" alt="Jugar" class="menu-img">
                    <div class="menu-title">🎮  JUGAR CON NÚMEROS</div>
                </div>
            </a>
        </div>
    </div>
</div>

<br>
{% endblock %}
