{% extends "plantillaModulos.html" %}
{% load static %}
{% block body %}
<head>
    <link rel="stylesheet" href="{% static 'css/estilosAprender.css' %}">
</head>

<br>

<div class="text-center mb-4">
    <div class="fondo_titulo">
        <h1 class="titulo-kichwa">📦 ¡Objetos del Entorno | KAWSAYPA IMASHINA! 🧺</h1>
    </div>
</div>
<div class="text-center">
    <a href="{% url 'aprender' %}" class="btn-volver">VOLVER</a>
</div>

<br>

<div class="container">
    <div class="row">
        {% for obj in objetos %}
        <div class="col-md-4 mb-4">
            <div class="card text-center card-mes">
                <div class="card-body">
                    <h5 class="card-title">📖 {{ obj.palabra_obj }}</h5>

                    {% if obj.imagen_obj %}
                    <div class="mb-3">
                        <img src="{{ obj.imagen_obj.url }}" alt="{{ obj.palabra_obj }}" class="img-fluid" style="max-height: 150px; border-radius: 15px;">
                    </div>
                    {% else %}
                    <p>📷 No hay imagen disponible.</p>
                    {% endif %}

                    {% if obj.audio_kichwa_obj %}
                    <div>
                        <button class="btn-audio mb-2" onclick="document.getElementById('audio_{{ forloop.counter }}').play()">
                            🔊 Escuchar
                        </button>
                        <audio id="audio_{{ forloop.counter }}">
                            <source src="{{ obj.audio_kichwa_obj.url }}" type="audio/mpeg">
                            Tu navegador no soporta audio.
                        </audio>
                    </div>
                    {% else %}
                    <p>🔇 No hay audio disponible.</p>
                    {% endif %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="text-center mb-4">
    <div class="fondo_titulo">
        <h5 class="titulo-juego">¡Si ya aprendiste los OBJETOS te invito a JUGAR!</h5>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 mb-4">
            <a href="{% url 'jugar_objetos' %}" style="text-decoration: none;">
                <div class="menu-card">
                    <img src="{% static 'imagenes/jugar.gif' %}" alt="Objetos" class="menu-img">
                    <div class="menu-title">🎮  JUGAR CON OBJETOS</div>
                </div>
            </a>
        </div>
    </div>
</div>

<br>
{% endblock %}
