{% extends 'plantillaAdmin.html' %}
{% load static %}
{% block body %}
<head>
  <link rel="stylesheet" href="{% static 'css/estilosSeleccionar.css' %}">
  <style>
    html, body {
      height: 100%;
      margin: 0;
    }

    .page-wrapper {
      display: flex;
      flex-direction: column;
      min-height: 82vh;
    }
  </style>
</head>
<br><br><br>
<div class="page-wrapper">
  <div class="container mt-5">
  <div class="card shadow-lg border-0 rounded p-4" style="background-color: #e6f7ff;">
    <div class="card-body text-center">
      <i class="fas fa-chalkboard-teacher fa-3x mb-3 text-primary"></i>

      <h1 class="font-weight-bold">
        {% if profesor.sexo|lower == 'femenino' %}
          ¡Bienvenida Profesora {{ profesor.nombres }} {{ profesor.apellidos }}!
        {% else %}
          ¡Bienvenido Profesor {{ profesor.nombres }} {{ profesor.apellidos }}!
        {% endif %}
      </h1>

      <p class="lead mt-3">
        Nos alegra tenerte de vuelta. Desde aquí podrás gestionar tus cursos, revisar a los estudiantes y acceder a recursos útiles para tu enseñanza.
      </p>

      <a href="{% url 'seleccion_estudiantes' %}" class="btn btn-primary mt-4">
        Ver Estidiantes <i class="fas fa-arrow-right ms-2"></i>
      </a>
      <br>
      <a href="{% url 'seleccion_calificaciones' %}" class="btn btn-primary mt-4">
        Ver Calificaciones <i class="fas fa-arrow-right ms-2"></i>
      </a>
    </div>
  </div>
</div>
</div>
{% endblock %}
