{% extends 'plantillaAdmin.html' %}

{% block body %}
<style>
    #tbl-Estudiantes {
        background-color: #a0ccf3;
    }

    #tbl-Estudiantes th {
        background-color: #1f77b4;
        color: white;
    }

    #tbl-Estudiantes td {
        color: #333;
    }

    #tbl-Estudiantes tr:hover {
        background-color: #d1e7f7;
    }
</style>

<br><br><br><br>
<div>
    <br>
    <div class="card-title text-center">
        <h3><b>Listado de Estudiantes Tercero</b></h3>
    </div>
</div>
<div style="width: 70%; margin-left: 170px;">
    <hr style="height: 3px; background-color: #000; border: none;">
</div>
<br>
<div class="text-center">
    <a href="{% url 'agregar_estudiante_tercero' %}" class="btn btn-outline-info">
        <i class="fas fa-plus"></i> Agregar Estudiante</a>
        <br><br>
    <a href="{% url 'seleccion_estudiantes' %}" class="btn btn-outline-secondary"> VOLVER</a>
</div>
<div class="text-end" style="margin-right: 150px; margin-bottom: 10px;">
    <strong>Total de estudiantes registrados: {{ estudiantes|length }}</strong>
</div>
<div class="container" style="width: 90%;">
    <table class="table table-bordered table-striped table-hover" id="tbl-Estudiantes">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Cédula</th>
                <th>Género</th>
                <th>Nivel Escolar</th>
                <th>Estado</th>
                <th>Registro</th>
                <th>Actualización</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for est in estudiantes %}
                <tr>
                    <td>{{ est.id }}</td>
                    <td>{{ est.nombres_est_ter }}</td>
                    <td>{{ est.apellidos_est_ter }}</td>
                    <td>{{ est.cedula_est_ter }}</td>
                    <td>{{ est.genero_est_ter }}</td>
                    <td>{{ est.nivel_escolar_est_ter }}</td>
                    <td>{{ est.estado_est_ter }}</td>
                    <td>{{ est.fecha_registro_est_ter }}</td>
                    <td>{{ est.fecha_actualizacion_est_ter }}</td>
                    <td>
                        <div style="display: flex;">
                            <a href="{% url 'editar_estudiante_tercero' est.id %}" class="btn btn-outline-warning btn-circle" title="Editar Estudiante">
                                <i class="fas fa-edit"></i>
                            </a>
                            &nbsp;&nbsp;
                            <a href="{% url 'eliminar_estudiante_tercero' est.id %}" class="btn btn-outline-danger" onclick="return confirm('¿Deseas eliminar este estudiante?')">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="10" class="text-center">No hay estudiantes registrados.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    let table = new DataTable('#tbl-Estudiantes');
</script>
{% endblock %}
